# ======================
# Arquivos de sistema
# ======================
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*$py.class

# ======================
# Ambientes virtuais
# ======================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ======================
# Logs e caches
# ======================
*.log
*.tmp
*.bak
*.swp
*.swo
*.sqlite3
*.db
*.cache/
.cache/
*.pkl

# ======================
# Arquivos de build e distribuição
# ======================
build/
dist/
*.egg-info/
.eggs/
*.spec
data/setup_db.py

# ======================
# Configurações de IDEs
# ======================
.vscode/
.idea/
*.code-workspace

# ======================
# Arquivos temporários e exportações
# ======================
*.xlsx
*.xlsm
*.csv
*.zip
*.rar
*.tar
*.gz
*.pdf
*.tmp
*.bak
*.old
*.orig
*.tmp.json

# ======================
# Arquivos do Streamlit
# ======================
.streamlit/secrets.toml
.streamlit/config.toml

# ======================
# Notebooks e checkpoints
# ======================
.ipynb_checkpoints/
*.ipynb~

# ======================
# Arquivos de testes temporários
# ======================
.coverage
htmlcov/
.pytest_cache/